doctype
html(lang='en')
    head 
      meta(charset='utf-8')
      meta(name='description',
      content="Learn PugJs"
      )
      title My Resume
      link(rel='stylesheet', href='./css/bootsrap.css_')
      link(rel='stylesheet', href='./css/main.css_')
    body 
        div(class='main-container' id='main')
            //- 
               Comment in here only
            // 
               Comment in HTML
            h2(class='main-title') My Skills
            ul(class="main-list")
                li PHP
                li MySQL
                li Sass
                li 
                  | Pugjs 
                  |
                  span test
            p I love <b>Pugjs</b> And <b>Sass</b>
            p 
               | I love 
               |
               b Pugjs
               |
               |  And
               | 
               b Sass
            |
            |
            .
               This Is text